#box_1{
    float:left;
    height: 20%;
    width: 25%;
    border-radius: 100px 100px 100px 100px;
   /* border:solid;*/
    background:#000000;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
    background:url("image/butterfly.jpg") no-repeat;
    vertical-align: middle;
    background-size: cover;
    transform: rotate(-30deg) scale(1);
    transition: all 1s;
}
#box_2{
    float:left;
    height: 20%;
    width: 25%;
    border-radius: 100px 100px 100px 100px;
    border:solid;
    background:#000000;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 5%;
    background:url("image/bulb.jpg") no-repeat;
    vertical-align: middle;
    background-size: cover;
    z-index: 1;
    transform: scale(1);
    transition: all 1s;
}

#box_3{
    float:left;
    height: 20%;
    width: 25%;
    border-radius: 100px 100px 100px 100px;
    border:solid;
    background:#000000;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 5%;
    z-index: 1;
    background:url("image/news.jpg") no-repeat;
    vertical-align: middle;
    background-size: cover;
    transform: rotate(30deg) scale(1);
    transition: all 1s;

}

#box_4{
    float:left;
    height: 20%;
    width: 25%;
    border-radius: 200px 200px 200px 200px;
    border:solid;
    background:#000000;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
    background:url("image/arrow.jpg") no-repeat;
    vertical-align: middle;
    background-size: cover;
}
#box_5{
    float:left;
    height: 20%;
    width: 25%;
    border-radius: 25px 25px 25px 25px;
    border:solid;
    background:#000000;
    margin-bottom: 5%;
    margin-right: 5%;
    background:url("cafetaria.jpg") no-repeat;
    vertical-align: middle;
    background-size: cover;
    transform: rotate(-30deg) scale(1);
    transition: all 1s;
}
#box_6{
    float:left;
    height: 20%;
    width: 25%;
    border-radius: 25px 25px 25px 25px;
    border:solid;
    background:#000000;
    margin-bottom: 5%;
    margin-right: 5%;
    background:url("image/call.jpg") no-repeat;
    vertical-align: middle;
    background-size: cover;
}
#box_7{
    float:left;
    height: 20%;
    width: 25%;
    border-radius: 25px 25px 25px 25px;
    border:solid;
    background:#000000;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
    background:url("play.gif") no-repeat;
    vertical-align: middle;
    background-size: cover;
}
#box_8{
    float:left;
    height: 20%;
    width: 25%;
    border-radius: 25px 25px 25px 25px;
    border:solid;
    background:#000000;
    margin-bottom: 5%;
    margin-right: 5%;
    background:url("scholarship.jpg") no-repeat;
    vertical-align: middle;
    background-size: cover;
    z-index: 1;
    transform: rotate(-30deg) scale(1);
    transition: all 1s;
}
#box_9{
    float:left;
    height: 20%;
    width: 25%;
    border-radius: 25px 25px 25px 25px;
    border:solid;
    background:#000000;
    margin-bottom: 5%;
    margin-right: 5%;
    background:url("teacher.jpg") no-repeat;
    vertical-align: middle;
    background-size: cover;
    transform: rotate(-30deg) scale(1);
    transition: all 1s;
}

#box_1:hover{
    z-index: 3;
    transform: scale(3);
}
#box_2:hover{
    z-index: 3;
    transform: scale(2);
}
#box_3:hover{
    z-index: 0;
    transform: rotate(360deg) scale(1.5);
}

#box_5:hover{
    z-index: 3;
    transform: scale(1.5);
}
#box_8:hover{
    z-index: 0;
    transform: rotate(-360deg) scale(.5);
}
#box_9:hover{
    z-index: 3;
    transform: scale(1.5);
}